<%= form_for @society, :html => { :multipart => true } do |f| %>
<fieldset>
<legend>基本信息</legend>
<table>
  <tr>
    <th>名称</th>
    <th>介绍</th>
    <th>头像</th>
  </tr>
  <tr>
    <td><%= f.text_area :name %></td>
    <td><%= f.text_area :description %></td>
    <td><%= f.file_field :avatar %></td>
    <td><%= f.submit '更新资料' %>
  </tr>
</table>
</fieldset>
<% end %>
</br>

<fieldset class="member_field">
  <legend>我们的成员<%= button_to '新添', new_user_path,
    :method => :get, :id => "commit"%></legend>
    <table>
      <tr>
        <th>头像</th>
        <th>姓名</th>
        <th>电话</th>
        <th>邮件</th>
        <th>微博</th>
        <th>介绍</th>
      </tr>
      <% @society.users.each do |user| %>
        <tr>
          <%= form_for user, :html => { :multipart => true } do |f| %>
            <td><%= f.file_field :avatar %></td>
            <td><%= f.text_field :name %></td>
            <td><%= f.text_field :telephone %></td>
            <td><%= f.text_field :email %></td>
            <td><%= f.text_field :miroblogging %></td>
            <td><%= f.text_field :description %></td>
            <td><%= f.submit '更新信息',:id => "commit"%></td>
          <% end %>
          <td><%= button_to '删除', user, :method => :delete, :id => "commit" %></td>
        </tr>
      <% end %>
    </table>
</fieldset>
</br>

<fieldset class="property_field">
  <legend>我们的物品<%= button_to '新添', new_property_path,
    :method => :get, :id => "commit" %></legend>
    <table>
      <tr>
        <th>名称</th>
        <th>价格</th>
        <th>介绍</th>
      </tr>
      <% @society.properties.each do |property| %>
      <tr>
        <%= form_for property do |f| %>
          <td><%= f.text_field :name %></td>
          <td><%= f.text_field :price %></td>
          <td><%= f.text_field :description %></td>
          <td><%= f.submit '更新信息', :id => "commit"%>
        <% end %>
          <td><%= button_to '删除', property, :method => :delete, :id => "commit" %>
      </tr>
      <% end %>
    </table>
</fieldset>
</br>

<fieldset class="activity_field">
  <legend>发布的活动<%= button_to '新添', new_activity_path,
    :method => :get, :id => "commit" %></legend>
    <table>
      <tr>
        <th>名称</th>
        <th>内容</th>
      </tr>
      <% @society.activities.each do |activity| %>
      <tr>
        <%= form_for activity do |f| %>
          <td><%= f.text_field :name %></td>
          <td><%= f.text_field :content %></td>
          <td><%= f.submit '更新信息', :id => "commit"%>
        <% end %>
          <td><%= button_to '删除', activity, :method => :delete,:id => "commit" %>
      </tr>
      <% end %>
    </table>
</fieldset>
</br>

